<a href="https://colab.research.google.com/github/zacwhitney/DataVisHW1/blob/main/ZacharyWhitneyHW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd

In [77]:
df = pd.read_csv('olympic_medals.csv')

In [ ]:
df.shape 
#8 columns 
#2394 entries(rows)

(2394, 8)

In [ ]:
df.dtypes
#all object type except for "year" which is int type

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [74]:
len(df['Location'].unique())
df['Location'].unique().__len__()
#23

23

In [75]:
len(df.loc[df['Nationality'] == 'USA'])
#638

638

In [76]:
df.groupby(by = 'Nationality')['Nationality'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Nationality, Length: 97, dtype: int64